@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul li::marker {
    content: '☀️ ';
  }
  ul li li::marker {
    content: '🌕 ';
  }
  ul li li li::marker {
    content: '⭐ ';
  }
  p code {
    @apply rounded-md bg-code-bg/80 px-1 py-1;
  }
  p code::before,
  p code::after {
    display: none;
  }
}

@layer components {
  .text-2xs {
    font-size: 0.625rem;
    line-height: 0.75rem;
  }
}

.progress-bar {
  position: sticky;
  top: 0px;
  height: 3px;
  width: 100%;
  z-index: 999;
  background-color: rgb(var(--color--guide));
  transition: background-color 0.3s;
  max-width: 100%;
  overflow: hidden;
}

.progress-bar.active {
  background-color: rgb(var(--color--guide));
  background-image: linear-gradient(
    90deg,
    rgba(var(--color--accent), 0) 55%,
    rgb(var(--color--accent)) 50%,
    rgba(var(--color--accent), 0) 60%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
}

.progress-bar .scroll-percent {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgb(var(--color--accent));
}

/* one-light */
@layer base {
  :root {
    --color--fore: 56 58 66;
    --color--back: 250 250 250;
    --color--back_layout: 222 230 235;
    --color--gutter: 161 161 161;
    --color--guide: 207 208 209;
    --color--text: 56 58 66;
    --color--accent: 82 139 255;
    --color--cyan: 86 182 194;
    --color--blue: 97 175 239;
    --color--purple: 198 120 221;
    --color--green: 152 195 121;
    --color--rose: 224 108 117;
    --color--orange: 209 154 102;
    --color--red: 190 80 70;
    --color--gold: 229 192 123;
  }

  [data-theme='one-dark'] {
    --color--fore: 37 41 49;
    --color--back: 40 44 52;
    --color--back_layout: 65 69 77;
    --color--gutter: 29 32 37;
    --color--guide: 204 204 204;
    --color--text: 171 178 191;
    --color--accent: 82 139 255;
    --color--cyan: 86 182 194;
    --color--blue: 97 175 239;
    --color--purple: 198 120 221;
    --color--green: 152 195 121;
    --color--rose: 224 108 117;
    --color--orange: 209 154 102;
    --color--red: 190 80 70;
    --color--gold: 229 192 123;
  }

  [data-theme='one-light'] {
    --color--fore: 56 58 66;
    --color--back: 250 250 250;
    --color--back_layout: 222 230 235;
    --color--gutter: 161 161 161;
    --color--guide: 207 208 209;
    --color--text: 56 58 66;
    --color--accent: 82 139 255;
    --color--cyan: 86 182 194;
    --color--blue: 97 175 239;
    --color--purple: 198 120 221;
    --color--green: 152 195 121;
    --color--rose: 224 108 117;
    --color--orange: 209 154 102;
    --color--red: 190 80 70;
    --color--gold: 229 192 123;
  }

  [data-theme='github-dark'] {
    --color--fore: 139 148 158;
    --color--back: 13 17 23;
    --color--back_layout: 33 38 45;
    --color--gutter: 33 38 45;
    --color--guide: 149 157 165;
    --color--text: 204 204 204;
    --color--accent: 88 166 255;
    --color--cyan: 121 192 255;
    --color--blue: 88 166 255;
    --color--purple: 188 140 255;
    --color--green: 86 211 100;
    --color--rose: 255 123 114;
    --color--orange: 255 171 112;
    --color--red: 255 123 114;
    --color--gold: 255 215 109;
  }

  [data-theme='github-light'] {
    --color--fore: 247 248 250;
    --color--back: 255 255 255;
    --color--back_layout: 240 240 240;
    --color--gutter: 206 208 210;
    --color--guide: 209 213 218;
    --color--text: 36 41 46;
    --color--accent: 3 102 214;
    --color--cyan: 121 192 255;
    --color--blue: 3 102 214;
    --color--purple: 111 66 193;
    --color--green: 40 167 69;
    --color--rose: 215 58 73;
    --color--orange: 227 98 9;
    --color--red: 203 36 49;
    --color--gold: 255 211 61;
  }
}
